
    .title{
        display: flex;
        justify-content: center;
        h1{
            text-align: center;
            background-color: #ED1D24;
            padding: 10px;
            color: white;
            width: 30%;
            border-radius: 10px;
        }
    }

.container-character-card{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
    .linkTo-single{
        text-decoration: none;
        color: black;
        .card{
            width: 200px;
            height: 380px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 10px;
            border: solid 1px black;  
            position: relative;

            .character-card{
            height: 250px;
            width: 200px; 
            border-radius: 0;
            border-bottom-right-radius: 10px;
            img{
                width: 200px;
                margin: 0;
                padding: 0;
            }
            .character-card-name p{
                width: 200px;
                font-size: 20px;
                font-weight: 700;
                margin: 0;
                padding: 0;
                background-color: #202124;
                color: white;
               
            }
            .character-card-description{
                height: 100%;
               
            }
            
        }
        }
        
      
    }
    .position{
        position: relative;
        .like-button{
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
   
}

