.container-comics{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .comic-card{
        height: 500px;
        width: 200px;
        margin: 20px;
        border: solid white 2px;
        background-color: white;
        color: black;
        border-bottom-left-radius: 10px;
        :hover{
            cursor: grab;
        }
    }
    .comic-card p{
        margin: 5px 0;
        
        
    }
    .comic-card-name p{
        background-color: white;
        color: black;
        height: 20px;
        padding: 0;
        margin: 0;
    }
    .comic-card-img{
        height: 300px;
        width: 200px;
        margin-bottom: 25px;
        img{
            height: 100%;
            width: 100%;
        }

    }
    .comic-card-description{
        height: 90%;
        overflow-y: hidden;
        margin-top: 10px;
    }
}