.container-comics{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .comic-card{
        flex: 15%;
        margin: 20px;
    }
    .comic-card-img{
        height: 60%;
        width: 100%;

    }
    img{
        height: 100%;
        width: 100%;
    }
}